body {
    /* background: url(../img/bobBG.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-color: #7e7e7e; */
    background: url(../img/bobBG.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.burger-border{
    border: 2px solid black;
    padding: 5px;
}

li{
    font-weight: bold;
}

ul{
    margin-bottom: 25px;
}

#burger-add-label{
    color: #5a5a5a
}

#submit-error{
    color: Black;
    font-size: 1.75em;
}

span{
    font-size: 1.75em;
}

#burger-name-label{
    color: white;
    font-size: 1.75em;
}
#customer-name-label{
    color: white;
    font-size: 1.75em;
}

.btn-large{
    background-color: white;
    color: black;
}

.push-up{
margin: -3vh;
}

ul{
    background-color: rgba(228, 228, 228, .85);
}